<app-modal
  class="fixed top-0 left-0 flex justify-center w-full mt-32"
  [isVisible]="isVisible"
  (close)="onClose()"
>
  <div class="flex justify-between">
    <div class="flex gap-4 overflow-hidden">
      <div class="flex flex-col">
        <img
          [src]="thread.user.avatar"
          alt="author-logo"
          class="w-10 h-10 rounded-full max-w-none"
        />
        <div class="h-full w-0.5 bg-zinc-700 self-center mt-2"></div>
      </div>
      <div>
        <h4 class="font-bold">{{ thread.user.username }}</h4>
        <p class="mb-2">{{ thread.content }}</p>
        <p class="truncate" *ngIf="thread.imageUrl">{{ thread.imageUrl }}</p>

        <p class="my-2 text-zinc-500">
          Replying to
          <a class="text-blue-400 cursor-pointer"
            >@{{ thread.user.username }}</a
          >
        </p>
      </div>
    </div>
    <p class="text-zinc-500">{{ thread.createdAt | timeAgo }}</p>
  </div>
  <div class="flex flex-col mt-3">
    <div class="flex gap-4">
      <img
        [src]="thread.user.avatar"
        alt="author-logo"
        class="w-10 h-10 rounded-full max-w-none"
      />

      <span
        class="block py-2 h-25 cursor-text mt-2 max-w-full overflow-hidden leading-5 break-all focus:outline-none empty:before:content-['Reply!'] empty:before:text-zinc-600"
        role="textbox"
        autofocus
        contenteditable
        (input)="onInput($event)"
        [textContent]="content"
      ></span>
    </div>
    <button
      (click)="onReply()"
      [disabled]="!content || isLoading"
      class="flex items-center self-end justify-center px-3 py-1 mt-3 font-semibold text-black bg-white rounded-full disabled:text-gray-400 disabled:bg-slate-700"
    >
      <span *ngIf="!isLoading">Reply</span>
      <app-spinner *ngIf="isLoading" color="black"></app-spinner>
    </button>
  </div>
</app-modal>
