<div class="flex gap-4 px-4">
  <div class="flex flex-col">
    <img
      src="{{ avatar }}"
      alt="author-logo"
      class="rounded-full w-9 h-9 max-w-none"
    />
    <div class="h-full w-0.5 bg-zinc-700 self-center mt-2"></div>
  </div>
  <div class="flex-1 pr-3">
    <h5 class="font-semibold">{{ username }}</h5>
    <span
      class="block py-2 cursor-text mt-2 max-w-full overflow-hidden leading-5 break-all focus:outline-none empty:before:content-['Start_a_thread...'] empty:before:text-zinc-600"
      role="textbox"
      autofocus
      contenteditable
      (input)="onInput($event)"
      [textContent]="content"
    >
    </span>
    <div class="flex items-center justify-between">
      <label for="upload">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 cursor-pointer hover:opacity-80"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#616161"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5"
          />
        </svg>
        <input
          type="file"
          id="upload"
          style="display: none"
          (input)="onAddFile($event.target)"
        />
        <img
          *ngIf="previewImg"
          [src]="previewImg"
          alt="previewImg"
          class="object-cover w-20 h-20 mt-2"
        />
      </label>

      <button
        [disabled]="!content"
        (click)="onAddThread()"
        class="text-lg font-bold text-blue-500 disabled:text-gray-500 disabled:cursor-not-allowed"
      >
        Post
      </button>
    </div>
  </div>
</div>
<hr class="h-px my-8 border-0 bg-zinc-700" />
